version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: wizard_postgres
    restart: always
    environment:
      POSTGRES_USER: wizard_user
      POSTGRES_PASSWORD: wizard_password
      POSTGRES_DB: wizard_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: wizard_adminer
    restart: always
    ports:
      - "8080:8080"
    environment:
      ADMINER_DEFAULT_SERVER: db

volumes:
  postgres_data:
